/* Reset some default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the whole page */
body {
    background-color: #D4C08A;
    font-family: "Poppins", sans-serif;

    min-height: 100vh;

    text-align: center;
}

header {
    width: 90%;
    max-width: 500px;

    margin: 120px auto 40px;

    background-color: #F7F0E3;

    padding: 40px 30px;

    border-radius: 4px;
}

h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 3.4rem;
    font-weight: 600;
    color: #2A1E14;

    margin-bottom: 20px;
}

p {
    color:  #35281E;
    font-size: 1rem;
    line-height: 1.8;

    margin-bottom: 15px;
}

button {
    margin-top: 25px;

    padding: 15px 30px;

    font-size: 1rem;

    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    gap: 20px;

    padding: 20px;
}

nav a {
    text-decoration: none;
}

audio {
    margin-top: 25px;
    width: 100%;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 30px;
}


.photo-placeholder {
    height: 200px;

    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

.timeline {
    margin-top: 30px;
}

.memory {
    background-color: white;

    padding: 20px;

    margin-bottom: 20px;

    border-radius: 10px;
}

.cover-photo {
    width: 220px;
    max-width: 100%;

    border: 10px solid #F7F0E3;
    border-radius: 6px;

    margin-bottom: 30px;

    object-fit: cover;
}